#login-title {
  font-size: 70px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  font-family: 'K2D', sans-serif;
  background: linear-gradient(to right,#FF1B44, #FF1B97);
  background: -webkit-linear-gradient(to right, #FF1B44, #FF1B97);
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}

#login-form {
  margin-top: 50px;
}

.form-labels {
  text-transform: uppercase;
  font-family: 'K2D', sans-serif;
  color: white;
  text-shadow: .05em .05em .1em black;
  margin-bottom: 20px;
}

#password, #email {
  background-color: black;
  font-family: 'K2D', sans-serif;
  color: white;
  height: 50px;
}

#login-submit, #login-form-signup-button {
  background: linear-gradient(to right,#FF1B44, #FF1B97);
  background: -webkit-linear-gradient(to right, #FF1B44, #FF1B97);
  text-transform: uppercase;
  font-family: 'K2D', sans-serif;
  font-size: 20px;
  color: white;
  width: 100%;
  margin-top: 20px;
}

#login-submit:hover {
  background: linear-gradient(to right,#D9173A, #D91780);
  background: -webkit-linear-gradient(to right, #D9173A, #D91780);
}

#login-submit:focus {
  background: linear-gradient(to right,#D9173A, #D91780);
  background: -webkit-linear-gradient(to right, #D9173A, #D91780);
}

#login-error-message {
  color: red;
  visibility: hidden;
  margin-top: 1vh;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

#login-form-footer-login-button, #login-form-footer-signup-button {
  height: 100%;
  width: 50%;
}

#login-form-footer-login-button:hover, #login-form-footer-signup-button:hover {
  background-color: #262626;
}

#login-form-footer-login-button-text, #login-form-footer-signup-button-text {
  font-family: 'K2D', sans-serif;
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 25px;
}
