@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
html,
body {
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* background-color: #FF1B44 */
}

/* @media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    background-color: #FFFFFF;
    background-image: url('../assets/apple-startup-images/splash-640x1136.png')
  }
}
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    background-color: #FFFFFF;
    background-image: url('../assets/apple-startup-images/splash-750x1334.png')
  }
}
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  body {
    background-color: #FFFFFF;
    background-image: url('../assets/apple-startup-images/splash-1242x2208.png')
  }
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  body {
    background-color: #FFFFFF;
    background-image: url('../assets/apple-startup-images/splash-1125x2436.png')
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    background-color: #FFFFFF;
    background-image: url('../assets/apple-startup-images/splash-1536x2048.png')
  }
}
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    background-color: #FFFFFF;
    background-image: url('../assets/apple-startup-images/splash-1668x2224.png')
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    background-color: #FFFFFF;
    background-image: url('../assets/apple-startup-images/splash-2048x2732.png')
  }
} */

a{
  color: #55ffbe;
}
#container {
  min-height:100%;
  position:relative;
}

#container.ar{
  background: linear-gradient(180deg,rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 50%);
}

#header {
  font-family: 'Zilla Slab', serif;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 50px;
  /* border-bottom: 1px solid #cccccc; */
}
#header.ar{
  max-width: 95%;
  padding-top: 20px;
  /* border-bottom: 1px solid #999999; */
}
#body {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom:50px;	/* Height of the footer */
}
#title {
  float: left;
}
#cart {
  float: right;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: 30px;
}

#upperSheet {
  width: 100%;
  display: table;
}
#visualSheet {
  float: left;
  width: 70%;
  display: table-cell;
}
#visualSheet.ar {
  /* display: none; */
}
#thumbs {
  float: left;
  width: 105px;
}

#thumbs.ar {
  display: none;
}

.thumb {
  height: 90px;
  margin-bottom: 14px;
  margin-right: 14px;
}

.thumb img{
  width: 90px;
  height: 90px;
  border: 1px solid #dedede;
}

#thumbs .last{
  margin-bottom: 0px;
}
.selected img{
  border: 2px solid #999999;
}

/* #content3D {
  float: left;
  width: 430px;
  height: 300px;
  border: 1px solid #dedede;
  margin: 0 auto;
}
#content3D.ar {
  border: none;
} */

#content3D {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#content3D.ar {
  margin: 0 auto;
  border: none;
}

#productOptions {
  position: fixed;
  float: left;
  width: 30%;
}
#productOptions.ar {
  justify-content: center;
  position: fixed;
  width: 100%;
  right: 0;
  display: flex;
}
.productOption {
  margin-bottom: 20px;
}
.productOption.ar {
  width: 160px;
  margin-right: 0;
}

.productOptionTitle {
  font-size: 16px;
  margin-bottom: 5px;
}
.productOptionThumbs {
	margin: 0 auto;
}

.productOptionThumbs ul{
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
.productOptionThumbs li{
  display: inline;
  cursor: pointer;
}
.productOptionThumbs li img{
  user-select: none;
  width: 48px;
  height: 48px;
}

.optionSelected {
  border-bottom: 2px solid #181818;
}

#sheet {
  padding-top: 20px;
  margin: 0 auto;
}
#brand {
  font-size: 16px;
  font-weight: bold;
}
#productName {
  font-size: 36px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
}
#price {
  font-size: 14px;
  margin-bottom: 10px;
}
.dollars {
  font-size: 16px;
  color: #b7374c;
  font-weight: bold;
}
#buttonCart {
  padding: 10px;
  background-color: #181818;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  cursor: pointer;
}

#buttonCart.ar{
  position: absolute;
  margin: 0 auto;
  bottom: 60px;
  left: 0;
  right: 0;
}
#comments {
  margin-top: 20px;
  margin-bottom: 30px;
}
.comment{
  padding: 10px;
  background-color: #ededed;
  margin-bottom: 10px;
}
.commentShort{
  padding: 10px;
  background-color: #ededed;
  width: 40%;
}
#footer {
  background-color: rgba(23,23,23,.9);
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: 'Zilla Slab', serif;
  position:absolute;
  bottom:0;
  width:100%;
  height:50px;			/* Height of the footer */
  line-height: 50px;
}

#arui {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
}
#arui-step1 .arui-text {
  width: 250px;
}
#arui-device-icon {
}
#arui-device-icon img{
  animation: move-around 4s infinite;
  width: 128px;
  height: 128px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
@keyframes move-around{
  0% {
    left: 40%;
    top: 50%;
  }
  25% {
    left: 60%;
    top: 50%;
  }
  50% {
    left: 50%;
    top: 60%;
  }
  75% {
    left: 50%;
    top: 40%;
  }
  100% {
    left: 40%;
    top: 50%;
  }
}
.arui-text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,.7);
  color: #181818;
  padding: 5px 10px;
}
#arui-step2 {
  display: none;
}
@media (max-width: 799px) {
  #upperSheet {
    width: auto;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
  }
  #visualSheet {
    width: 100%;
    display: table;
    border-collapse: collapse;
  }
  #thumbs {
    float: left;
  }
  /* #content3D {
    float: none;
    width: 90%;
    display: table-cell;
  } */
  #sheet{
    padding: 0 10px;
  }
  #productOptions {
    margin-top: 10px;
    width: 100%;
  }
  .productOption {
    float: left;
    margin-right: 25px;
  }
}

/* #productOptions,
#thumbs {
  display: none;
} */

#status {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 90%;
  max-height: 87%;
  z-index: 10000000000000;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  overflow: scroll;
}

/* sliders */

.range-slider {
  width: 100% ;
}

.range-slider__range {
  -webkit-appearance: none;
  display: inline-block;
  width:60%;
  /* width: calc(100% - (#{60px  + 13px})); */
  height: 10px ;
  border-radius: 5px;
  background: #d7dcdf ;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px ;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50  ;
  border-bottom: 7px solid transparent;
  content: '';
}


/* // Firefox Overrides */
::-moz-range-track {
    background: #d7dcdf ;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
.splash-icon {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -999;
  background-image: url('../icon-180.png');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation-name: scale;
  animation-name: scale;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@keyframes scale {
  from {
    transform: scale(2.5);
  }
  to {
    transform: scale(1);
  }
}

#fourohfour-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg,rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 50%);
  text-decoration: none;
}

#fourohfour-image{
  height: 100px;
  width: 100px
}

/* body::-webkit-scrollbar  {
  -webkit-appearance: none;
  display: block;
  width: 10px;
  background-color: #f5f5f5;
} */

/* body::-webkit-scrollbar-track  {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  display: block;
} */

/* -webkit-scrollbar:horizontal {
  -webkit-appearance: none;
  display: block;
  width: 10px;
  height: 10px;
} */


/* body {
  overflow-x: scroll;
} */

/* body::-webkit-scrollbar {
  -webkit-appearance: none;
  display: block;
  width: 7px;
} */



