#signup-title {
  font-size: 70px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to right,#FF1B44, #FF1B97);
  background: -webkit-linear-gradient(to right, #FF1B44, #FF1B97);
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}

#signup-form {
  margin-top: 50px;
}

.form-labels {
  text-transform: uppercase;
  color: white;
  text-shadow: .05em .05em .1em black;
  margin-bottom: 20px;
}

#signupPassword, #confirmSignupPassword, #signupEmail, #fullName {
  background-color: black;
  color: white;
  height: 50px;
}

#signup-submit {
  background: linear-gradient(to right,#FF1B44, #FF1B97);
  background: -webkit-linear-gradient(to right, #FF1B44, #FF1B97);
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  width: 100%;
  margin-top: 20px;
}

#signup-submit:hover {
  background: linear-gradient(to right,#D9173A, #D91780);
  background: -webkit-linear-gradient(to right, #D9173A, #D91780);
}

#signup-submit:focus {
  background: linear-gradient(to right,#D9173A, #D91780);
  background: -webkit-linear-gradient(to right, #D9173A, #D91780);
}

#error-message {
  color: red;
  text-transform: uppercase;
  font-size: 20px;
}
