#productOptions, #productOptionLabels {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#productOptionLabels {
  bottom: 15%;
  padding-right: 25px;
  padding-left: 0;
}

#y-position-label {
  padding-right: 10px;
}

#rotation-label, #y-position-label, #scale-label {
  color: #FF1B44;
  text-transform: uppercase;
}

.back-button a {
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  margin-bottom: 10px;
  top: 5%;
  left: 0;
  right: 0;
  padding-left: 20px;
  color: #FF1B44;
}

.back-button a:hover {
  opacity: 0.2;
  color: #DE173B;
  text-decoration: none;
}

