<div class="splash-background"></div>
<div id="jumbotron-row" class="row">
  <div id="assets-jumbotron" class="jumbotron">
    <h1>Explore</h1>
  </div>
</div>
<div class="row" id="user-assets-row">
  <div class="col-xs-12" id="user-assets-title-div">
    <p id="user-assets-title">User Assets</p>
  </div>
  <div class="col-xs-12" id="user-assets"></div>
</div>
<div class="row" id="api-assets-row">
  <div class="col-xs-12" id="api-assets-title-div">
    <p id="api-assets-title">Public Assets</p>
  </div>
  <div class="col-xs-12" id="assets-container"></div>
</div>


