<div class="splash-background"></div>
<div id="jumbotron-row" class="row">
  <div id="assets-jumbotron" class="jumbotron">
    <a href="/vr" id="vr-link">
      <img src="../vr.png" id="enter-vr-logo"/>
    </a>
    <h1 id="explore-title">Explore</h1>
  </div>
</div>
<div class="row" id="user-assets-row">
  <div class="col-xs-12" id="user-assets-title-div">
    <p id="user-assets-title">Your Assets</p>
  </div>
  <div class="col-xs-12" id="user-assets"></div>
</div>
<div class="row" id="api-assets-row">
  <div class="col-xs-12" id="api-assets-title-div">
    <p id="api-assets-title">Public Assets</p>
  </div>
  <div class="col-xs-12" id="assets-container"></div>
</div>
<div class="footer">
  <div id="asset-log-out-button">
    <p id="asset-log-out-button-text">LOG OUT</p>
  </div>
  <div id="asset-upload-button">
    <p id="asset-upload-button-text">UPLOAD ASSET</p>
  </div>
</div>


