<div class="row" id="login-row">
  <div class="col-xs-12">
    <h1 id="login-title">LOG IN</h1>
    <form id="login-form">
      <div class="form-group">
        <label for="email" class="form-labels">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="jane@doe.com">
      </div>
      <div class="form-group">
        <label for="password" class="form-labels">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default" id="login-submit">Submit</button>
    </form>
  </div>
</div>
