<div class="splash-background"></div>
<div class="row" id="signup-row">
  <div class="col-xs-12">
    <h1 id="signup-title">Sign Up</h1>
    <form id="signup-form">
      <div class="form-group">
        <label for="fullName" class="form-labels">Full Name</label>
        <input type="text" class="form-control" id="fullName" placeholder="Jane Doe">
      </div>
      <div class="form-group">
        <label for="signupEmail" class="form-labels">Email address</label>
        <input type="email" class="form-control" id="signupEmail" placeholder="jane@doe.com">
      </div>
      <div class="form-group">
        <label for="signupPassword" class="form-labels">Password</label>
        <input type="password" class="form-control" id="signupPassword" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="confirmSignupPassword" class="form-labels">Confirm Password</label>
        <input type="password" class="form-control" id="confirmSignupPassword" placeholder="Confirm Password">
      </div>
      <button type="submit" class="btn btn-default" id="signup-submit">Submit</button>
      <h5 id="error-message"></h5>
    </form>
  </div>
  <div class="footer">
    <div id="signup-form-footer-login-button">
      <p id="signup-form-footer-login-button-text">LOG IN</p>
    </div>
    <div id="signup-form-footer-signup-button">
      <p id="signup-form-footer-signup-button-text">SIGN UP</p>
    </div>
  </div>
</div>
