<div class="splash-background"></div>
<div class="row" id="upload-row">
  <div class="col-xs-12">
    <h1 id="upload-title">Upload Asset</h1>
    <form id="upload-form">
      <div class="form-group">
        <label for="displayName" class="form-labels">Display Name</label>
        <input type="text" class="form-control" id="displayName" placeholder="Asset Name">
      </div>
      <div class="form-group">
        <label for="assetUrl" class="form-labels">Asset URL</label>
        <input type="text" class="form-control" id="assetUrl" placeholder="www.iamanasset.com">
      </div>
      <div class="form-group">
        <label for="thumbnailUrl" class="form-labels">Asset Thumbnail URL</label>
        <input type="text" class="form-control" id="thumbnailUrl" placeholder="www.assetthumbnail.com">
      </div>
      <button type="submit" class="btn btn-default" id="upload-submit">Upload</button>
    </form>
  </div>
  <div class="footer">
    <div id="upload-form-footer-login-button">
      <p id="upload-form-footer-login-button-text">LOG IN</p>
    </div>
    <div id="back-to-assets-button">
      <p id="back-to-assets-button-text">ASSETS</p>
    </div>
  </div>
</div>
