<div class="row" id="upload-row">
  <div class="col-xs-12">
    <h1 id="upload-title">Upload Asset</h1>
    <form>
      <div class="form-group">
        <label for="displayName">Display Name</label>
        <input type="text" class="form-control" id="displayName" placeholder="Asset Name">
      </div>
      <div class="form-group">
        <label for="assetUrl">Asset URL</label>
        <input type="text" class="form-control" id="assetUrl" placeholder="www.iamanasset.com">
      </div>
      <div class="form-group">
        <label for="thumbnailUrl">Asset Thumbnail URL</label>
        <input type="text" class="form-control" id="thumbnailUrl" placeholder="www.assetthumbnail.com">
      </div>
      <button type="submit" class="btn btn-default" id="upload-submit">Upload</button>
    </form>
  </div>
</div>
